name: Build mod

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: false
        type: string
      merge_prs:
        description: 'Comma-separated PR numbers to merge (e.g., "1,2,3" or "0" for none)'
        required: false
        default: ''
        type: string
      fetch_branches_from_other:
        description: 'Enter "username/repo branch" to fetch & merge, or 0 for none'
        required: false
        default: '0'
      merge_dns:
        description: 'merge DNS commit (0 = none)'
        required: false
        default: '0'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.0

    - uses: actions/cache@v4
      id: go-cache
      with:
       path: .go
       key: patched-go-${{ hashFiles('go.mod') }}

    - name: Install patched Go
      if: steps.go-cache.outputs.cache-hit != 'true'
      shell: bash
      run: |
        set -e
        GO_VERSION=$(sed -n -E 's/^go ([0-9]+\.[0-9]+).*/\1/p' go.mod)
        FULL_VERSION=$(curl -s https://go.dev/VERSION?m=text | grep "^go$GO_VERSION")
        curl -L "https://go.dev/dl/${FULL_VERSION}.linux-amd64.tar.gz" -o go.tar.gz
        tar -xzf go.tar.gz
        mv go .go
        curl -L https://raw.githubusercontent.com/Exclude0122/libxivpn/refs/heads/master/goruntime-boottime-over-monotonic.diff -o runtime.patch
        patch -d .go -p1 < runtime.patch
        echo "$(pwd)/.go/bin" >> $GITHUB_PATH

    - name: Activate patched Go
      shell: bash
      run: |
       echo "$(pwd)/.go/bin" >> $GITHUB_PATH
       go version

    - name: Install gomobile
      run: |
        go install golang.org/x/mobile/cmd/gomobile@latest
        echo "$HOME/go/bin" >> $GITHUB_PATH

    - name: Verify Go & gomobile
      run: |
         which go
         go version
         which gomobile

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3.2.0
      with:
        log-accepted-android-sdk-licenses: false
        cmdline-tools-version: '12266719'
        packages: 'platforms;android-35 build-tools;35.0.0 platform-tools'

    - name: Install NDK for gomobile
      run: |
        echo "y" | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --channel=0 --install "ndk;28.2.13676358"
        echo "ANDROID_NDK_HOME=$ANDROID_HOME/ndk/28.2.13676358" >> $GITHUB_ENV

    - name: Build gomobile .aar
      run: |
        mkdir -p assets data
        bash gen_assets.sh download
        cp -v data/*.dat assets/
        go env -w GOPRIVATE=github.com/xtls/xray-core
        go env -w GONOSUMDB=github.com/xtls/xray-core
        MODCACHE=$(go env GOMODCACHE)
        MOD_PATH="$MODCACHE/github.com/xtls/xray-core"
        rm -rf "$MOD_PATH"
        XRAY_PATH="$GITHUB_WORKSPACE/_deps/xray-core"
        rm -rf "$XRAY_PATH"
        git clone https://github.com/xtls/xray-core.git "$XRAY_PATH"
        cd "$XRAY_PATH"
        git checkout main
        git fetch origin main
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        cd $GITHUB_WORKSPACE
        go mod edit -replace=github.com/xtls/xray-core="$XRAY_PATH"
        go mod tidy
        go mod download
        gomobile init -v
        go mod tidy
        gomobile bind -v -androidapi 24 -trimpath -gcflags="all=-l=4" -ldflags='-s -w -buildid=' ./

    - name: Setup NDK for custom .so
      uses: nttld/setup-ndk@v1
      id: setup-ndk
      with:
        add-to-path: false
        ndk-version: r27

    - name: Build custom .so files
      shell: bash
      env:
          NDK: ${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64
      run: |
        # Export paths and environment
        echo $NDK 
        export GOOS=android
        export CGO_ENABLED=1
        export AR=$NDK/bin/llvm-ar
        export LD=$NDK/bin/ld
        export RANLIB=$NDK/bin/llvm-ranlib
        export STRIP=$TOONDKLCHAIN/bin/llvm-strip
        export CGO_LDFLAGS="-v -Wl,-z,max-page-size=16384"


        # Clean previous builds
        rm -f libxivpn_arm64.so libxivpn_x86_64.so libxivpn_armv7a.so

        # Build all architectures
        for arch in arm64 x86_64 armv7a; do
          case $arch in
            arm64)
              export CGO_CFLAGS="-target aarch64-linux-android21"
              export GOARCH=arm64
              export CC=$NDK/bin/aarch64-linux-android21-clang
              export CXX=$NDK/bin/aarch64-linux-android21-clang++
              export TARGET=aarch64-linux-android
              OUT=libxivpn_arm64.so
              ;;
            x86_64)
              export CGO_CFLAGS="-target x86_64-linux-android21"
              export GOARCH=amd64
              export CC=$NDK/bin/x86_64-linux-android21-clang
              export CXX=$NDK/bin/x86_64-linux-android21-clang++
              export TARGET=x86_64-linux-android
              OUT=libxivpn_x86_64.so
              ;;
            armv7a)
              export CGO_CFLAGS="-target armv7a-linux-androideabi21"
              export GOARCH=arm
              export GOARM=7
              export CC=$NDK/bin/armv7a-linux-androideabi21-clang
              export CXX=$NDK/bin/armv7a-linux-androideabi21-clang++
              export TARGET=armv7a-linux-android
              OUT=libxivpn_armv7a.so
              ;;
          esac

          echo "Building $arch -> $OUT"
          go build -buildmode=pie -trimpath -o $OUT -ldflags="-s -w -buildid=" -buildvcs=false ./
        done

    - name: Replace .so in .aar
      shell: bash
      run: |
        mkdir -p out/arm64-v8a out/x86_64 out/armeabi-v7a
        mv libxivpn_arm64.so out/arm64-v8a/libxivpn.so
        mv libxivpn_x86_64.so out/x86_64/libxivpn.so
        mv libxivpn_armv7a.so out/armeabi-v7a/libxivpn.so

        AAR=$(ls *.aar)
        unzip "$AAR" -d aar_tmp

        # remove original libgojni.so if present
        rm -f aar_tmp/jni/**/libgojni.so || true

        # copy custom .so and rename
        cp out/arm64-v8a/libxivpn.so  aar_tmp/jni/arm64-v8a/libgojni.so
        cp out/armeabi-v7a/libxivpn.so aar_tmp/jni/armeabi-v7a/libgojni.so
        cp out/x86_64/libxivpn.so     aar_tmp/jni/x86_64/libgojni.so

        cd aar_tmp
        zip -r ../"$AAR" .
        cd ..
        unzip -l "$AAR"

    - name: Upload build artifacts
      if: github.event.inputs.release_tag == ''
      uses: actions/upload-artifact@v6
      with:
        name: libv2ray
        path: |
          ${{ github.workspace }}/libv2ray*r

    - name: Upload AndroidLibXrayLite to release
      if: github.event.inputs.release_tag != ''
      uses: svenstaro/upload-release-action@v2
      with:
        file: ./libv2ray*r
        tag: ${{ github.event.inputs.release_tag }}
        file_glob: true
        overwrite: true
