name: Change Repository Visibility

on:
  workflow_dispatch:
    inputs:
      visibility:
        description: 'Set visibility to public or private'
        required: true
        default: 'private'
        type: choice
        options:
          - public
          - private

jobs:
  change-visibility:
    runs-on: ubuntu-slim
    steps:
      - name: Change Visibility
        uses: JustinBird/github-visibility-action@v1
        with:
          visibility: ${{ github.event.inputs.visibility }}
          token: ${{ secrets.ADMINISTRATION_TOKEN }}
