name: Change Visibility

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: false
        type: string
    
        
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: GitHub Visibility Action
      uses: JustinBird/github-visibility-action@v0.0.2
